* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url("assets/background.png") no-repeat center center;
  background-size: 120%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  animation: backgroundMove 6s ease-in-out infinite;
}


.logo {
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 1000;
  font-size: 30px;
  font-weight: bold;
  color: #ff4081;
  font-family: "Pacifico", cursive;

}
.logo img {
  background: linear-gradient(135deg, #8a2be2, #ff4081);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    width: 250px;  
    height: auto;
  
}

.container {
  background: rgba(255, 255, 255, 0.40);
  border-radius: 15px;
  padding: 25px 30px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin-right: 50px;
}


h1 {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Monoton", cursive;
  font-size: 36px;
  color: #6a0dad;
}
h2 {
  text-align: center;
  margin-bottom: 15px;
  font-family: "Pacifico", cursive;
  font-size: 33px;
  color: green;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #8a2be2;
}
input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}
input:focus, select:focus, textarea:focus {
  border-color: #8a2be2;
  outline: none;
}
small {
  color: black;
  font-size: 12px;
  display: none;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(135deg, #8a2be2, #ff4081);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: linear-gradient(135deg, #6a1b9a, #e91e63);
}

.music-control {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}
.music-control{
  background-color: whitesmoke;
}

@keyframes backgroundMove {
  0% {
    background-position: 0% 0%;
    background-size: 120%;
  }
  25% {
    background-position: 100% 0%;
    background-size: 130%;
  }
  50% {
    background-position: 100% 100%;
    background-size: 120%;
  }
  75% {
    background-position: 0% 100%;
    background-size: 110%;
  }
  100% {
    background-position: 0% 0%;
    background-size: 120%;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}
